@import 'src/assets/scss/variables.module';

@mixin arrow-main {
    position: absolute;
    top: 3vh;
    cursor: pointer;
}

@mixin arrow-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vh;
    height: 4vh;
    background: $secondary;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 6px #00000029;

    svg {
        color: $secondaryDark;
        font-size: large;
    }
}

.wrapper {
    display: flex;
    font-family: sans-serif;
    width: 9 0vh;

    .current-date {
        width: 20vh !important;
        color: #748845;
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: larger;
    }

    .left-arrow-wrapper {
        display: none;
    }

    .right-arrow-wrapper {
        display: none;
    }
}

.wrapper:hover .left-arrow-wrapper {
    display: block;
    @include arrow-main;
    left: 18vh;

    .arrow {
        @include arrow-sub;
    }
}

.wrapper:hover .right-arrow-wrapper {
    display: block;
    @include arrow-main;
    left: 88vh;

    .arrow {
        @include arrow-sub;
    }
}
