@import 'src/assets/scss/variables.module';

@mixin background-color {
    background: linear-gradient(120deg, $primary, #99b45a);
}

.main-container {
    flex: 2;
    @include background-color;
    border-radius: 5%;
    margin: 0 2.5% 0 5%;
    box-shadow: 0 3px 6px #00000029;
    flex-direction: column;

    h2 {
        margin: 5% 5% 5% 5%;
        padding: 5% 0 0 5%;
        color: $light;
        text-shadow: -0.6px -0.6px 0 $textColorMain,
            0.6px -0.6px 0 $textColorMain, -0.6px 0.6px 0 $textColorMain,
            0.6px 0.6px 0 $textColorMain;
    }

    .progress-container {
        margin: 5% 5% 5% 10%;
        width: 100%;
        height: fit-content;
        display: inline-flex;
        flex-direction: row;

        .actions-container {
            display: inline-flex;
            flex-direction: column;
            margin: 2.5% 5% 5% 10%;

            .progress-content {
                flex: 1;
                white-space: pre;
                font-size: 20px;
                font-weight: bold;
                color: $light;
                text-shadow: -0.6px -0.6px 0 $textColorMain,
                    0.6px -0.6px 0 $textColorMain, -0.6px 0.6px 0 $textColorMain,
                    0.6px 0.6px 0 $textColorMain;
                margin: 0 10% 0 0;
            }

            .actions {
                display: inline-flex;
                flex-direction: row;
                margin-top: 10%;
                align-items: center;

                .graph-button {
                    svg {
                        color: #55652f;
                        font-size: 35px;

                        &:hover {
                            background-color: $secondary;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                }

                .add-button {
                    margin-left: 20%;

                    svg {
                        color: #f17f53;
                        font-size: 35px;
                    }

                    &:hover {
                        display: flex;
                        align-items: center;
                        background-color: $secondary;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    hr {
        margin: 0 10%;
    }

    .nutrition-content {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 5% 10% 10% 10%;
        position: relative;

        .first-row {
            flex: 1;
            display: inline-flex;
            flex-direction: column;
        }

        .second-row {
            flex: 1;
            display: inline-flex;
            flex-direction: column;
        }

        .meal-card {
            position: absolute;
            width: 110%;
            height: auto;
            @include background-color;
            border-radius: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 7.5%;

            z-index: 10;
            outline: 9999px solid rgba(0, 0, 0, 0.4);

            flex-direction: column;
            color: $light;
            text-shadow: -0.6px -0.6px 0 $textColorMain,
                0.6px -0.6px 0 $textColorMain, -0.6px 0.6px 0 $textColorMain,
                0.6px 0.6px 0 $textColorMain;

            .header {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                margin-top: 1%;
                width: 100%;
                height: auto;

                h4 {
                    margin-left: 5%;
                }

                .close-meal-card {
                    display: flex;
                    align-items: center;
                    margin-left: 10%;
                    margin-right: 5%;
                    svg {
                        color: $textColorMainDark;

                        &:hover {
                            background-color: $secondary;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }

            .meal-container {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
                margin: 2.5% 5%;

                .meal-title {
                    padding-left: 5%;
                    flex: 2;
                }

                .meal-calories {
                    flex: 1;
                }

                svg {
                    margin-right: 5%;
                    color: #f17f53;

                    &:hover {
                        background-color: $secondary;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                hr {
                    margin: 0 10%;
                }
            }

            .meal-container:nth-child(6) {
                margin: 2.5% 5% 5% 5%;
            }
        }
    }
}
