@import 'src/assets/scss/variables.module';

.body-container {
    background-color: $secondary;
    position: fixed;
    top: 10vh;
    left: 13vw;
    width: 100%;
    height: 90vh;

    font-family: sans-serif;
}  

